@import "var";


.banner {
  margin-bottom: 50px;

  &__content {
    background-image: url("../image/ImageLaceholder.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
  }

  &__title-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 503px;
    padding: 41px 78px;
    border-radius: 37px 37px 0px 0px;
    background: #fff;
    max-width: 503px;
    margin-top: 178px;
  }

  &__heading {
    color: #292f36;
    font-family: "DM Serif Display", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    margin: 0;
  }

  &__breadcrumbs {
    margin: 0;
    padding: 0;
  }

  &__breadcrumbs-item {
    display: inline-block;
    align-items: center;

    &:not(:last-child)::after {
      content: "/";
      margin-left: 8px;
      margin-right: 8px;
    }
  }

  &__breadcrumbs-link {
    color: #4d5053;
    font-family: "Jost", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
    transition: all 1s ease;

    &:hover {
      color: #cda274;
      transition: all 0.5s ease;
    }
    &:active {
      color: #4d5053;
      transition: all 1s ease;
    }
   }
}

.section-article {
  &__section-post {
    display: flex;
    // align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 65px;
    border: 1px solid #e7e7e7;
    border-radius: 62px;
    padding: 22px;
    width: 1140px;
    height: 478px;
    box-shadow: 0 10px 30px 0 rgba(255, 255, 255, 0.25);
  }

  &__section-info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 41px;
    width: 489px;
    height: 375px;
  }

  &__text {
    font-weight: 400;
    font-size: 22px;
    font-family: "Jost";
    letter-spacing: 0.01em;
    color: #4d5053;
    width: 469px;
    height: 282px;
  }

  &__date-button {
    display: flex;
    gap: 285px;
    align-items: center;
  }

  &__title-box-news {
    font-weight: 400;
    font-size: 50px;
    font-family: "DM Serif Display";
    letter-spacing: 0.02em;
    text-align: center;
    color: #292f36;
    padding-top: 150px;
    padding-bottom: 30px;
    display: flex;
  }

  &__news-box {
    display: grid;
    grid-template-columns: repeat;
    gap: 28px;
    grid-template-columns: repeat(3, 375px);
    position: relative;
  }

  &__box-item {
    position: relative;
    border: 1px solid #e7e7e7;
    border-radius: 62px;
    padding: 21px;
    width: 382px;
    height: 504px;
    box-shadow: 0 10px 30px 0 rgba(255, 255, 255, 0.25);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 21px;
    width: 340px;
    height: 462px;
    background-color: #fff;
  }

  &__tag {
    position: absolute;
    top: 253px;
    left: 53px;
    background-color: #ffffff;
    padding: 8px 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #4d5053;
    font-family: "Jost";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.16px;
    text-transform: capitalize;
    margin: 0;
  }

  &__titleNews {
    font-weight: 400;
    font-size: 25px;
    font-family: "DM Serif Display";
    letter-spacing: 0.02em;
    color: #292f36;
  }

  &__lower-block {
    display: flex;
    gap: 140px;
    align-items: center;
  }

  &__date {
    font-weight: 400;
    font-size: 16px;
    font-family: "Jost";
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #4d5053;
  }

  &__button-next {
    border: none;
    border-radius: 100%;
  }

  &__pagination-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 51px;
  }

  &__pagination-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border: 1px solid #cda274;
    border-radius: 50%;
    color: #292f36;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    text-transform: capitalize;
    transition: all 0.5s ease-out;
  }

  &__pagination-item:hover {
    background-color: #f4f0ec;
    border: none;
    transition: all 2s ease;
  }
}
