@import "var";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

body {
  font-family: "Jost", sans-serif;
  background: linear-gradient(90deg, #0000 calc(100% - 1px), #e6e6e6 0);
  background-size: calc((100% - 4 * 1px) / 5 + 1px) 100%;
}

.center {
  padding-left: calc(50% - $widthContent / 2);
  padding-right: calc(50% - $widthContent / 2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 53px;
  margin-bottom: 57px;

  &__header-brand {
    display: flex;
    align-items: baseline;
    gap: 8px;
    //   padding-left: 16px;
  }

  &__name-brand {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 40px;
    color: #292f36;
  }

  &__menu {
    display: flex;
    gap: 40px;
    align-items: flex-end;
    // padding-right: 16px;
  }

  &__menu-link {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #292f36;
  }

  &__menu-link:hover {
  color: #cda274;
  transition: all 0.5s ease;
  }
}

.banner {
  position: relative;

  // &__photo {
  // }

  &__box-started-content {
    position: absolute;
    top: 208px;
    left: 52px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 434px;
    height: 246px;
  }

  &__title {
    font-weight: 400;
    font-size: 65px;
    font-family: "DM Serif Display", sans-serif;
    color: #292f36;
  }

  &__text {
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.01em;
    color: #4d5053;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border: 1px;
    border-radius: 18px;
    padding: 26px 45px 26px 45px;
    width: 220px;
    height: 75px;
    box-shadow: 0 10px 20px 0 rgba(192, 192, 192, 0.35);
    background: #292f36;
    font-weight: 600;
    font-size: 18px;
    font-family: "Jost";
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
  }
}

.section-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  margin-top: 96px;
  margin-bottom: 93px;

  &__title {
    font-weight: 400;
    font-size: 50px;
    font-family: "DM Serif Display";
    letter-spacing: 0.02em;
    text-align: center;
    color: #292f36;
  }

  &__text {
    font-weight: 400;
    font-size: 22px;
    font-family: "Jost";
    letter-spacing: 0.01em;
    text-align: center;
    color: #4d5053;
    width: 737px;
  }
}

.section-project {
  display: flex;
  gap: 56px;
  flex-direction: column;

  &__box-projectOne,
  &__box-projectTwo {
    display: flex;
    gap: 104px;
  }

  &__project1 {
    display: flex;
    flex-direction: column;
  }

  &__img-decor1 {
    border-radius: 0 15% 0 0;
  }

  &__img-decor2 {
    border-radius: 15% 0 0 0;
  }

  &__img-decor3 {
    border-radius: 0 0 15% 0;
  }

  &__img-decor4 {
    border-radius: 0 0 0 15%;
  }

  &__content-project {
    padding-top: 24px;
    display: flex;
    gap: 270px;
    justify-content: baseline;
  }

  &__project-text {
    display: flex;
    flex-direction: column;
  }
  &__modern {
    font-weight: 400;
    font-size: 25px;
    font-family: "DM Serif Display";
    letter-spacing: 0.02em;
    color: #292f36;
  }

  &__decor {
    font-weight: 400;
    font-size: 22px;
    font-family: "Jost";
    letter-spacing: 0.01em;
    color: #4d5053;
  }

  &__button-next {
    border: none;
    border-radius: 100%;
  }
}

.statistic-box {
  margin-top: 151px;
  margin-bottom: 151px;
  height: 457px;
  background-color: #f4f0ec;
  display: flex;
  gap: 76px;
  align-items: center;
  justify-content: center;

  &__box-item {
    display: flex;
    flex-direction: column;
  }

  &__number {
    font-weight: 400;
    font-size: 85px;
    font-family: "DM Serif Display";
    letter-spacing: 0.02em;
    color: #cda274;
    text-align: center;
  }

  &__text {
    font-weight: 400;
    font-size: 22px;
    font-family: "Jost";
    color: #4d5053;
  }

  &__border {
    border: 1px solid #cda274;
    height: 130px;
  }
}

.box-news {
  
  &__heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    margin-top: 96px;
    margin-bottom: 93px;
  }

  &__title {
    font-weight: 400;
    font-size: 50px;
    font-family: "DM Serif Display";
    letter-spacing: 0.02em;
    text-align: center;
    color: #292f36;
  }

  &__text {
    font-weight: 400;
    font-size: 22px;
    font-family: "Jost";
    letter-spacing: 0.01em;
    text-align: center;
    color: #4d5053;
    width: 737px;
  }

  &__news-box {
    display: grid;
    grid-template-columns: repeat;
    gap: 28px;
    grid-template-columns: repeat(3, 375px);
    position: relative;
  }

  &__box-item {
    position: relative;
    border: 1px solid #e7e7e7;
    border-radius: 62px;
    padding: 21px;
    width: 382px;
    height: 504px;
    box-shadow: 0 10px 30px 0 rgba(255, 255, 255, 0.25);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 21px;
    width: 340px;
    height: 462px;
    background-color: #fff;
  }
  

  &__tag {
    position: absolute;
    top: 253px;
    left: 53px;
    background-color: #ffffff;
    padding: 8px 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #4d5053;
    font-family: "Jost";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.16px;
    text-transform: capitalize;
    margin: 0;
  }

  &__title-news {
    font-weight: 400;
    font-size: 25px;
    font-family: "DM Serif Display";
    letter-spacing: 0.02em;
    color: #292f36;
  }

  &__lower-block {
    display: flex;
    gap: 140px;
    align-items: center;
  }

  &__date {
    font-weight: 400;
    font-size: 16px;
    font-family: "Jost";
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #4d5053;
  }
  
  &__button-next {
    border: none;
    border-radius: 100%;
  }
}

